body {
  background-color: #008080;
  color: yellow;
  font-family: Arial, helvetice, sans-serif;
  margin: 10% 20%;
    
}

.exp-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #dddddd; 
  border-bottom: 1px solid #dddddd;
  background-color: grey
}

img{
  width: 50%;
    margin: 10% 20%;
}
